-content_for :title do
  Update Instapaper Reference for Clipping

%ul.clippings
  %li
    %blockquote= @clipping.content

.form
  - form_for [@clipping.book, @clipping, @instapaper_reference], :url => {:action => :create} do |f|
    %p
      %label URL
      = f.text_field :url

    %p
      %label Title
      = f.text_field :title

    %p
      = f.submit
