%li
  %h3
    .datetime
      On
      = format_datetime(clipping.clipped_at)
    .location-metadata
      - if clipping.single_location?
        Location:
      - else
        Locations:
      = clipping.location_string
    =cleardiv
  %blockquote= clipping.content
  - if clipping.note
    .note= clipping.note.content