- content_for :title_element do
  Clippings : 

-content_for :title do
  Clippings


%ul.clippings
  = render :partial => "clippings/clipping", :collection => @clippings, :locals => {:show_book => true}

= paginate @clippings
