body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.5;
}

span.cleardiv {
  clear: both;
  display: block;
}

#container {
  width: 600px;
  margin: 0 auto;
}

#header {
  background: black;
  color: white;
  padding: 5px;
}

#header a:link, #header a:visited {
  color: white;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
  color: red;
}

ul.books li {
  padding: 5px;
}

ul.books li.odd {
  background: #eee;
}

ul.books li h3 {
  float: left;
  width: 300px;
  line-height: 1.2;
}

ul.books li h3 span.title {
  font-size: 150%;
}

ul.books li h3 span.author {
  display: block;
  font-weight: normal;
}

ul.books li .clippings-count, ul.books li .notes-count {
  float: left;
  width: 140px;
}

ul.books li .clippings-count span, ul.books li .notes-count span {
  font-weight: bold;
  font-size: 150%;
}

ul.books li a:link, ul.books li a:visited {
  color: black;
}

ul.books li a:hover {
  color: red;
}

h1.pagetitle {
  padding: 5px;
  background: #ccc;
  font-size: 18px;
}

h1.subhead {
  background: #eee;
  padding: 5px;
  font-weight:bold;
}

ul.clippings li {
  padding: 20px 0 10px;
  border-bottom: 1px solid #ccc;
}

ul.clippings li blockquote {
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  line-height: 1.5;
  padding: 10px 20px;
  background: #eee;
  margin: 0 0 10px;
  font-size: 110%;
}

ul.clippings h3 {
  margin: 0 0 10px;
  font-weight: normal;
}

ul.clippings li .datetime {
  float: left;
  font-weight: bold;
}

ul.clippings li .location-metadata {
  float: right;
}

ul.clippings li .location-metadata span.is_pdf {
  color: #ccc;
  font-weight: bold;
}

ul.clippings li .note {
  margin-left: 20px;
  color: #888;
}

.import-box .button_to {
  float: left;
}

.import-box {
float: right;
  padding: 5px;
}
