body {
  /* accounting for topbar */
  padding-top: 60px;
}

span.cleardiv {
  display: block;
  clear: both;
}

form.invisible {
  display: none;
}

.topbar .import {
  float: right;
  padding: 11px 0;
}

.topbar .import a:hover {
  text-decoration: none;
  color: white;
}
  

/* books list */ 
ul.books {
  margin: 0;
  padding: 0;
}

ul.books li {
  list-style: none;
  margin: 0 0 20px;
}
ul.books li h3 {
  margin: 0;
  line-height: 1;
}

ul.books li h4 {
  line-height: 1;
}

ul.books li .clippings-count, ul.books li .notes-count {
  font-size: 120%;
}

ul.books li .clippings-count span, ul.books li .notes-count span {
  font-size: 140%;
}

/* authors list */


ul.authors{
  margin: 0;
  padding: 0;
}

ul.authors li {
  list-style: none;
  margin: 0 0 20px;
}
ul.authors li h3 {
  margin: 0;
  line-height: 1;
}

ul.authors li .clippings-count, ul.authors li .books-count {
  font-size: 120%;
}

ul.authors li .clippings-count span, ul.authors li .books-count span {
  font-size: 140%;
}
/* clippings */

ul.clippings {
  margin: 0;
  padding: 0;
}

ul.clippings li {
  list-style: none;
  margin: 0 0 20px;
}

ul.clippings li h3 {
  line-height: 1.2;
  margin: 0 0 10px;
}

ul.clippings li h3 .datetime {
  display: inline;
}
ul.clippings li h3 .location-metadata {
  color: #888;
  font-weight: normal;
  display: inline;
  margin-left: 1em; 
}

ul.clippings li blockquote {
  font-size: 120%;
  line-height: 1.3;
}

ul.clippings li .note {
  font-size: 110%;
  font-style: italic;
}

/* instapaper edit reference */

.instapaper_form p label {
  display: inline;
  float: none;
  width: auto;
}

.instapaper_form p input {
  display: inline;
}

.instapaper_form p input[type=text] {
  margin-right: 10px;
}
