body {
  /* accounting for topbar */
  padding-top: 60px;
}

span.cleardiv {
  display: block;
  clear: both;
}

.topbar .import {
  float: right;
  padding: 11px 0;
}

.topbar .import a:hover {
  text-decoration: none;
  color: white;
}
  

ul.books {
  margin: 0;
  padding: 0;
}

ul.books li {
  list-style: none;
  margin: 0 0 20px;
}
ul.books li h3 {
  margin: 0;
  line-height: 1;
}

ul.books li h4 {
  line-height: 1;
}

ul.books li .clippings-count, ul.books li .notes-count {
  font-size: 120%;
}

ul.books li .clippings-count span, ul.books li .notes-count span {
  font-size: 140%;
}
