- content_for :title_element do
  #{@author.name} :

- content_for :title do
  = @author.name

%ul.books
  - for book in @author.books
    = render :partial => "books/book", :locals => {:book => book}
