- content_for :title_element do
  Books : 

- content_for :title do
  Books

%ul.books
  - for book in @books
    - if book.clippings.any? || book.notes.any?
      = render :partial => "books/book", :locals => {:book => book}
